.DS_Store
xcuserdata

.claude/

tests/business-critical-integration/logs
tests/business-critical-integration/integration-test-app/config
tests/business-critical-integration/reports
tests/business-critical-integration/screenshots


.swiftpm/

.claude

*~
Podfile.lock
Pods/

*.xccheckout
.idea/

dev.config

build/
build2/

# needed integration testing
env_vars.sh
CI.swift
*.swiftmodule
*.timestamp
*.modulemap
*.pcm
.build/arm64-apple-macosx/debug/IterableSDK.build/DerivedSources/resource_bundle_accessor.swift
.build/arm64-apple-macosx/debug/index/db/v13/p25195--4de704/lock.mdb
.build/arm64-apple-macosx/debug/index/db/v13/p25195--4de704/data.mdb
.build/workspace-state.json
*.mdb
.build/arm64-apple-macosx/debug/IterableSDK.build/output-file-map.json
.build
.mcp.json
