name: Build and test

on: pull_request

jobs:
  run-tests-job:
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v2
    
    - uses: maxim-lobanov/setup-xcode@v1.3.0
      with:
        xcode-version: latest

    - name: Build and test
      run: |
        xcodebuild test -project swift-sdk.xcodeproj -scheme swift-sdk -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 13 Pro Max' -enableCodeCoverage YES CODE_SIGNING_REQUIRED=NO | xcpretty && exit ${PIPESTATUS[0]}
        
    - name: CocoaPods lint
      run: pod lib lint

    - name: Upload coverage report to codecov.io
      run: bash <(curl -s https://codecov.io/bash) -X gcov -J 'IterableSDK' -J 'IterableAppExtensions'